.hero{
    background: $VeryLightGray;
    @include breakPoinUp(large){
        display: flex;
        min-height: 41rem;
        align-items: center;
        padding-left: 10%;
    }
    .img{
        position: relative;
        background-image: url(/images/bg-intro-mobile.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 30rem;
        width: 100%;
        &::before{
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background-image: url(/images/image-mockups.png);
            background-size: 30rem;
            background-repeat: no-repeat;
            background-position: center -0.5rem;
        }
        @include breakPoinUp(large){
            min-height:inherit; 
            flex: 3;
            order: 2;
            background-image: url(/images/bg-intro-desktop.svg);
            background-position: 20rem -7rem;
            background-size: 80rem;
            &::before{
                background-position: 15rem -1rem;
                background-size: 41rem;
            }
        }
    }
    .text{
        padding: 2.25rem 1.5rem;
        text-align: center;
        h1{font-weight: 300;font-size: 30px;margin-bottom: 1.5rem;color: $DarkBlue;}
        p{line-height: 1;margin-bottom: 1.5rem;}
        @include breakPoinUp(large){
            flex: 1.5;
            text-align: left;
            h1{font-size: 3.25rem;}
            margin: auto;
        }
    }
}